.section-name-flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.restaurant-item {
    background: white;
    box-shadow: 0px 1px 3px #D4D4D5;
    border-radius: 8px;
    transition: .3s;
}
.active-rest-menu {
    position: fixed;
    width: 100%;
    top: 43px;
    z-index: 2;
}

.restaurant-closed {
    height: 100%;
    background: #1d1d1d8a;
    backdrop-filter: blur(4px);
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-closed-content {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.restaurant-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px #b8b8bb87;
}

.restaurant-image {
    height: 200px;
    position: relative;
    width: 100%;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 8px 8px 0 0;
}

.slider-item button {
    width: 100%;
    padding: 11px 0px !important;
}

.slick-prev:before, .slick-next:before {
    color: #ff6500 !important;
    
}

.slider-item {
    padding: 0.5rem;
}

.restaurant-name {
    font-weight: 700;
    font-size: 23px;
    color: #333;
}

.restaurant-time-work {
    font-size: 12px;
    padding-top: 5px;
}

.restaurant-order-from {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 5px; */
}

.restaurant-item .categories {
    color: #7b7b7b;
    font-size: 13px;
    padding-top: 5px;
}

.rest-category-item {
    position: relative;
    padding-left: 15px;
}

.rest-category-item::before {
    content: '';
    width: 5px;
    height: 5px;
    background: #7b7b7b;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    left: 5%;
}

.rest-category-item:first-child {
    padding-left: 0px;
}

.rest-category-item:first-child::before {
    display: none;
}

.main-info-restaurant {
    padding: 15px;
}

.delivery-time {
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 5px 10px;
    font-weight: 600;
    background: #ff6500;
    border-radius: 8px;
    color: white;
}

.price-from {

    color: #333;
}

.categories-restaurant {
    margin-top: 20px;
}


.ui.placeholder .rectangular.image:not(.header)
{
    padding-top: 185px !important;
}

.fullname-address {
    padding-top: 25px;
    text-align: center;
}

.select-btn {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.load-more {
    padding: 25px 0px;
    display: flex;
    justify-content: center;
}

.head-restaurant {
    height: 300px;
    background: url('https://eda.yandex/images/1368744/0e677541c2133eaedd02a37a77172d5c-1100x825.jpg');
    background-size: cover !important;
    background-position: center;
}

.head-restaurant::before {
    content: '';
    background: linear-gradient(90deg, rgba(45, 45, 45, 0.91) 0%, rgba(47, 47, 47, 0.31) 100%);
    width:100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(10px);

}

.head-restaurant {
    color: white;
    position: relative;
}

.head-restaurant-content {
    height: 100%;
    display: flex !important;
    align-items: center;
    position: relative;
}

.centered-head-restaurant {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.main-info-header-rest {
    display: flex;
    font-weight: 700;
}

.main-info-header-rest img {
    padding-right: 10px;
}

.main-info-header-rest span {
    display: flex;
    margin-left: 50px;
    position: relative;
}

.main-info-header-rest span:first-child {
    margin-left: 0px;
}

.main-info-header-rest span:first-child::before {
    display: none;
}

.main-info-header-rest span::before {
    content: '';
    width: 8px;
    height: 8px;
    background: white;
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translate(0%, -50%);
    border-radius: 50%;
}

.restaurant-menu {
    padding: 5px 0px;
    border-bottom: 1px solid #ececec;
    height: 35px;
    background: white;
    display: flex;
    z-index: 1;
    align-items: center;
}

.menu-item {
    background: #FFFFFF;
    /* border: 1px solid rgb(241, 241, 241); */
    box-shadow: 0px 0px 5px #e0e0e0;
    color: #333;
    padding-left:15px;
    padding-bottom: 15px;
    padding-right: 15px;
    border-radius: 3px;
    padding-top: 15px;
}

.menu-item-price {
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    bottom: 25px;
}

.restaurant-name-header-item {
    font-size: 45px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 15px;
}

.menu-item-desc {
    font-size: 13px;
    padding-top: 15px;
    color: #848484;
}

.menu-item-image {
    height: 250px;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 10px;
}

.menu-item-name {
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.menu-item-content {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    height: 40%;
}

.category-menu-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.menu-item {
    cursor: pointer;
    transition: .3s;
}

.category-item-slider {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
}

.category-item-slider:hover {
    color: black;
    cursor: pointer;
}

.section-category-name {
    font-size: 40px;
    padding-bottom: 50px;
    margin-bottom: 0;
}

.slick-slider {
    width: 100%;
}

.sticky-category-menu {
    width: 100%;
    top: 50px;
    position: fixed;
}

.category-item-slider:focus {
    outline: none;
}

@media only screen and (max-width: 767px) {
    .section-category-name {
        padding-left: 1rem !important;
    }

    .category-item-slider {
        padding-right: 45px;
    }

    .menu-item-image {
        height: 150px;
    }
}

.category-item-slider{
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
}

.category-item-slider::selection {
    background-color: unset;
}
.menu-item-wrapper:focus {
    outline: unset;
}

.category-item-slider.active {
    color: rgb(255, 102, 0);
}

.scroll-menu-arrow {
padding: 20px;
cursor: pointer;
transition: .3s;
}

.scroll-menu-arrow:hover {
    color: rgb(255, 102, 0);
}

.restaurant-logo-item {
    background: white;
    bottom: 15px;
    position: absolute;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-logo-item img {
    width: 100%;
}

.restaurant-time-delivery {
    background: white;
    width: 105px;
    border-radius: 100px 100px 0px 0px;
    height: 32px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    right: 10px;
    padding: 16px;
    color: #333;
    font-weight: 700;
}