@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;  
    background: #fefefe;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif !important;      
}

@media only screen and (min-width: 1500px) {
    .ui.container {
      width: 1427px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .ui.grid.container {
      width: calc( 1127px  +  2rem ) !important;
    }
    .ui.relaxed.grid.container {
      width: calc( 1127px  +  3rem ) !important;
    }
    .ui.very.relaxed.grid.container {
      width: calc( 1127px  +  5rem ) !important;
    }
  }
  